body{
    margin: 0; padding: 0;
}

.label-form{
    text-align: left;
}

.text-menu-item{
    font-size: 13px;
}

.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.file-item-button{
    background: none;
    border: none;
}

.file-element{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.file-element-cheked{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(230,230,230, 2);
}

.file-element:hover{
    background: rgba(230,230,230, 2);
}

.file-element-check{
    display: flex;
    height: 0.5rem;
}

.file-element-body{
    display: flex;
    flex: 3;
    width: 100%;
    z-index: 999999;
}